<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B462F00DFFD4D43DC539A5CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B462F70E110CBCDA9325C0B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B462F924BF1CAB535738505B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
